@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");
@import 'colors';
@import 'mediaqueries';
@import 'grid';
@import 'utilities';

// @import 'font-family';

body {
  @extend %body;

  font-family: 'COCOGOOSE', sans-serif;

  header {
    background-image: url('https://images.unsplash.com/photo-1544731612-de7f96afe55f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=5000&q=60');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 38rem;
    width: 100%;

    .nav-container {
      // display: flex; flex-direction: column; position:fixed; width: 100%; height: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: fixed;
      width: 100%;
      // z-index: 100;
      .social-nav {
        background-color: $black;
        display: flex;
        height: 30px;
        justify-content: flex-end;
        width: 100%;

        @include xs {
          display: none;
        }

        @include md {
          display: flex;
        }

        ul {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          padding-right: 4%;

          @include lg {
            padding-right: 16%;
          }

          @include xl {
            padding-right: 23.5%;
          }

          @include breakpoint(1440px) {
            padding-right: 26%;
          }

          @include breakpoint(2560px) {
            padding-right: 35%;
          }

          li {
            list-style: none;
            margin-left: 1rem;

            a {
              color: $white;
              font-size: 0.8rem;
              text-decoration: none;

              &:hover {
                color: $red;
              }
            }
          }
        }
      }

      .navbar {
        @extend %flex-center;

        background-color: $white;
        box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
        column-gap: 30px;
        height: 80px;
        width: 100%;

        .menu-list {
          background: rgba($color: $black, $alpha: 0.7);
          bottom: 0;
          left: 0;
          list-style: none;
          margin: 0;
          opacity: 0.9;
          padding-top: 4rem;
          position: fixed;
          right: 0;
          top: 0;
          transform: translateY(-100%);
          transition: transform 0.2s;
          z-index: 99;

          .navbar-menu-item {
            cursor: pointer;
            font-size: 2rem;
            font-weight: bold;
            padding: 1rem 1rem 1rem 4rem;

            a {
              color: $white;
              text-decoration: none;

              &:hover {
                color: $red;
              }
            }
          }
        }
        // desktop menu
        .navbar-container {
          display: none;

          @include md {
            display: inline-block;
          }

          .desk-navbar-menu {
            .desk-navbar-menu-list {
              list-style: none;

              @include md {
                display: flex;
                list-style: none;
                margin-left: 1rem;
                margin-right: 0.5rem;
              }

              .desk-navbar-menu-item {
                display: flex;
                list-style: none;

                a {
                  color: rgba(0, 0, 0, 0.4);
                  font-family: goose;
                  font-size: 0.8rem;
                  padding: 0.5rem 1rem;
                  text-decoration: none;

                  &:hover {
                    background: $gray;
                    color: $black;
                  }
                }
              }
            }
          }
        }
        //added -------------------------
        .mobile {
          cursor: pointer;
          display: none;
          left: 0.3rem;
          padding: 4px;
          position: fixed;
          top: 1rem;
          z-index: 100;

          .close {
            color: $white;
            display: none;
            font-size: 1.5rem;
          }

          @include xs {
            display: flex;
          }
        }

        .showMenu {
          transform: translateY(0);
          // display: flow-root;
        }

        @include xs {
          justify-content: flex-start;

          .menu-list {
            @include md {
              display: block;
              display: flex;
              list-style: none;
              margin-left: 1rem;
              margin-right: 0.5rem;

              @include xl {
                margin-left: 4rem;
                margin-right: 2rem;
              }
            }

            li {
              a {
                color: rgba(0, 0, 0, 0.4);
                font-family: goose;
                font-size: 0.8rem;
                padding: 0.5rem 1rem;
                text-decoration: none;

                &:hover {
                  background: $gray;
                  color: $black;
                }
              }
            }
          }

          .campaign {
            border: 1px solid $red;
            padding: 0.5rem 1rem;

            a {
              color: $red;
              font-family: goose;
              font-size: 0.8rem;
              text-decoration: none;
            }

            &:hover {
              background: $red;

              a {
                color: $white;
              }
            }

            @include xs {
              display: none;
            }

            @include md {
              display: flex;
            }
          }

          @include md {
            justify-content: center;
          }

          .menuIcon {
            color: $black;
            font-size: 2rem;

            &:hover {
              color: $black;
              cursor: pointer;
            }

            @include md {
              display: none;
            }
          }
        }

        .logo-header {
          display: flex;

          @include xs {
            display: none;
          }

          @include md {
            display: flex;
          }

          img {
            height: 60px;
            width: 100%;
          }
        }
      }
    }

    .banner {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 156px;
      text-align: center;

      h1 {
        color: $red;
        font-family: goose;
        font-size: 1.6rem;
        font-weight: 400;
      }

      h3 {
        color: $red;
        font-family: 'Lato';
        font-size: 1rem;
        margin-bottom: 0;
      }

      @include xs {
        h1 {
          font-size: 1.5rem;
          width: 92%;
        }

        h3 {
          font-size: 1rem;
        }
      }

      @include md {
        margin: 0 auto;
        width: 70%;

        h1 {
          font-size: 2.5rem;
        }

        h3 {
          font-size: 1.5rem;
        }

        .banner-description {
          margin: 1rem auto;
          width: 70%;
        }
      }

      @include lg {
        margin: 0 auto;
        width: 70%;

        h1 {
          font-size: 2.5rem;
        }

        h3 {
          font-size: 1.5rem;
        }

        .banner-description {
          margin: 1rem auto;
          width: 60%;
        }
      }

      @include xl {
        margin: 0 auto;
        width: 70%;

        h1 {
          font-size: 2.5rem;
        }

        h3 {
          font-size: 1.5rem;
        }

        .banner-description {
          background-color: $white;
          width: 40%;
        }
      }

      @include breakpoint(1440px) {
        margin: 0 auto;
        width: 65%;

        h1 {
          font-size: 2.5rem;
        }

        h3 {
          font-size: 1.5rem;
        }
      }

      @include breakpoint(2560px) {
        margin: 0 auto;
        width: 50%;

        h1 {
          font-size: 4rem;
        }

        h3 {
          font-size: 1.5rem;
        }

        .banner-description {
          width: 40%;
        }
      }

      &-description {
        background-color: $white;
        border: 2px solid $white;
        color: $black;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        padding: 1rem;
      }

      &-program {
        color: $black;
        font-family: 'Lato';
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        margin: 0;
      }

      &-location {
        color: $black;
        font-family: 'Lato';
        font-size: 1rem;
        font-style: normal;
        font-weight: bold;
        font-weight: bold;
        margin: 0;
      }
    }
  }

  main {
    .about {
      @extend %flex-center;

      width: 100%;

      &-container {
        flex-direction: column;

        @extend %flex-center;

        padding: 1rem 0;
        width: 86%;

        .about-body {
          flex-direction: column;

          @extend %flex-center;

          padding: 1rem 0;
          row-gap: 1rem;
          text-align: center;
          width: 100%;

          @include md {
            flex-direction: row;
            justify-content: space-around;
          }

          p {
            color: $black;
            font-family: 'Lato';
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            margin: 0;
          }

          img {
            height: auto;
            width: 100%;

            @include md {
              width: 45%;
            }
          }
        }

        .about-divider {
          background-color: $gray;
          height: 1px;
          margin: 1rem 0;
          width: 100%;
        }

        .about-description {
          flex-direction: column;

          @extend %flex-center;

          padding: 1rem 0;
          row-gap: 1rem;
          text-align: center;
          width: 100%;

          @include xs {
            width: 100%;
          }

          @include md {
            width: 50%;
          }

          p {
            color: $black;
            font-family: 'Lato';
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            margin: 1rem;
          }

          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }

    .partners {
      @extend %flex-center;

      background-color: rgba($color: $black, $alpha: 0.9);
      flex-direction: column;
      height: 15rem;
      width: 100%;

      h2 {
        color: $white;
        font-family: 'Lato';
        font-size: 2rem;
        font-weight: bold;
        margin: 20px;
        padding: 0;

        @include breakpoint(2560px) {
          font-size: 3rem;
        }
      }

      &-underline {
        @extend %underline;

        @include md {
          width: 10%;
        }

        @include lg {
          width: 7%;
        }

        @include xl {
          width: 6%;
        }

        @include breakpoint(2560px) {
          width: 3%;
        }
      }

      &-logo {
        @extend %flex-center;

        column-gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25px 8px;
        row-gap: 20px;
        width: 80%;

        @include md {
          column-gap: 30px;
          margin: 50px 16px;
        }

        @include lg {
          column-gap: 30px;
          margin: 50px 16px;
          width: 70%;
        }

        @include xl {
          column-gap: 30px;
          margin: 50px 32px;
        }

        @include breakpoint(2560px) {
          column-gap: 30px;
          margin: 42px 32px;
        }

        img {
          @include xs {
            height: 30px;
            width: 30%;
          }

          @include md {
            height: 30px;
            width: 20%;
          }

          @include xl {
            height: 30px;
            width: 15%;
          }

          @include breakpoint(2560px) {
            height: 50px;
            width: 10%;
          }
        }
      }
    }

    footer {
      @extend %flex-center;

      flex-direction: row;
      width: 100%;

      .footer-container {
        column-gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 30px;
        width: 90%;

        @include md {
          column-gap: 30px;
          width: 80%;
        }

        @include lg {
          column-gap: 30px;
          width: 60%;
        }

        @include xl {
          column-gap: 30px;
          width: 45%;
        }

        @include breakpoint(2560px) {
          column-gap: 30px;
          width: 35%;
        }

        img {
          height: 5rem;
          width: 50%;
        }

        p {
          color: $black;
          font-family: 'Lato';
          font-size: 1rem;
          font-weight: bold;
          height: auto;
          margin: 0;
          padding: 0;
          width: 50%;
        }
      }
    }
  }
}
